@page
@model SpacecraftSite.Pages.RocketsModel
@{
    ViewData["Title"] = "Ракети";

    <h1>Ракети</h1>

    @foreach (var country in Model.RocketStatistics)
    {
<div>
    <h5>@country.First().Rocket.Country.Name</h5>
    <table border="1" cellpadding="4">
        <tr>
            <th>Країна</th>
            <th>Всього польотів</th>
            <th>Успішних</th>
            <th>Провальних</th>
            <th>Відсоток успіху</th>
            <th>Перший запуск</th>
            <th>Останній запуск</th>
        </tr>
        @foreach (var rocket in country)
        {
            <tr>
                <td><a href="/Rocket/@rocket.Rocket.Id">@rocket.Rocket.Name</a></td>
                <td>@rocket.allLaunches</td>
                <td>@rocket.successfull</td>
                <td>@rocket.failed</td>
                <td>@(rocket.percentage)%</td>
                <td>@rocket.firstLaunch.ToShortDateString()</td>
                <td>@rocket.lastLaunch.ToShortDateString()</td>
            </tr>
        }
    </table>
</div>
    }
}
