@page "{id}"
@model SpacecraftSite.Pages.SpacecraftModel
@{
    ViewData["Title"] = Model.spacecraft.Name;

    <h3>@Model.spacecraft.Name</h3>

    @if (User.Identity.IsAuthenticated)
    {
        <div>[<a href="/Edit/EditSpacecraft/@Model.spacecraft.Id">Редагувати</a>|<a href="/Edit/CreateSpacecraft">Новий</a>]</div>
    }

    <br />
    <h5>Характеристики</h5>
    <table cellpadding="4">
        <tr><td>NSSDC ID</td><td><a href="https://nssdc.gsfc.nasa.gov/nmc/spacecraft/display.action?id=@Model.spacecraft.NSSDC">@Model.spacecraft.NSSDC</a></td></tr>
        <tr><td>Країна</td><td><a href="/Country/@Model.spacecraft.Country.Id">@Model.spacecraft.Country.Name</a></td></tr>
        <tr><td>Оператор</td><td>@Model.spacecraft.Operator</td></tr>
        <tr><td>Тип</td><td>@Model.spacecraft.Type</td></tr>
        <tr><td>Масса</td><td>@Model.spacecraft.Mass кг</td></tr>
        <tr><td>Конфігурація</td><td>@Model.spacecraft.Configuration</td></tr>
        <tr><td>Оснащення</td><td>@Model.spacecraft.Equipment</td></tr>
    </table>
    <br />
    <h5>Запуск</h5>
    <table cellpadding="4">
        <tr><td>Дата</td><td>@Model.spacecraft.Launch.LaunchDate.ToShortDateString()</td></tr>
        <tr><td>Ракета</td><td>@Model.spacecraft.Launch.Rocket.Name</td></tr>
        <tr><td>Майданчик</td><td>@Model.spacecraft.Launch.LaunchSite</td></tr>
        @if (Model.spacecraft.Launch.Success == true)
        {
            <tr><td>Результат</td><td>Успіх</td></tr>
        }
        else
        {
            <tr><td>Результат</td><td>Провал</td></tr>
        }
    </table>
    <br />

    <h5>Загальні відомості</h5>
    <p style="white-space:pre-line">@Model.spacecraft.Mission</p>
}
